 .sectionHeading1 {
    color: #022752 !important;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3em;
    margin-bottom: 20px;
    text-transform: capitalize;
}
kc-css-421817 p {
    color: #ffffff;
}
.cal-text-above-123 {
    color: #000000	!important;
}
.cal-form {
    label{
        font-weight: 800;
        font-size: 12px;
    }
}
.amount{
    background: #022752;
    color: #ffffff; 
    line-height: 0.9rem;

}