.we-hel {
    text-align: center!important;
    color: #022752!important;
    font-size: 20px!important;
}
.kc-css-877887 {
    background: #ffffff;
    padding: 18px 50px 0px 50px;
}
.kc-elm {
    float: left;
    text-align: left;
    width: 100%;
}
.kc_single_image{
  margin: 50px 0;

}